.BackButton{
    background-color: white;
    display: block;
    text-align: center;
    height: 50px;
    width: 100px;
    border: 2px solid ;
    box-sizing: border-box;
    margin: auto;
}

.BackButton img{
    height: 100%;
    width: 100%;
    display: block;
    margin: 0px;
}

.BackButton:hover{
    opacity: 50%;
    border-width: 5px;
    border-color: blue;
}

