.QuestionBoxItem{
    background-color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid blue;
}

.QuestionBoxParagraph{
    margin: auto;
    height: 100%;
    word-wrap: break-word;
}